.home {
    text-align: center;
    padding: 25px;
    position: fixed;
    color: rgb(71, 25, 199);
    width: 1210px;
    height: 156px;
}

.bestproduct {
    padding: 10px;
    gap: 10px;
    text-align: center;
    font-size: 25px;
}

.background {

}